<header class="main-header shadow-sm agent-header">
  <div class="row justify-content-between">
    <div class="col-lg-8">
      <div class="dashboard-header-left d-flex align-items-center">
        <div class="d-flex align-items-start flex-column">
          <div class="d-flex align-items-center">
           <h5>iBook Writer's App</h5>
          </div>
        </div>
       
      </div>
    </div>
    <div class="col-lg-4 col-sm-4">
      <div class="right-header-components">
        
        <a  (click)="signOut()">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
       
    
    </div>
  </div>
  </div>
</header>
